name: Cypress CI

on:
  push:
    branches: [main] # Runs on every push to main

jobs:
  test:
    runs-on: ubuntu-latest # Use a standard Linux server

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Cypress Tests
        uses: cypress-io/github-action@v6
        with:
          # Tell the action to run this command
          command: npx cypress run
        env:
          # This is how you pass secrets in CI.
          # You would set this in your GitHub Repo Settings > Secrets
          CYPRESS_SECRET_PASSWORD: ${{ secrets.MY_REPO_SECRET }}
